body
  background-color var(--theme)
  transition background-color .3s
  color var(--grey-900)

.docs-app
  margin-left auto
  margin-right auto
  width 100%
  //max-width 1200px
.docs-content
  padding 20px 24px
.dui-md-container
  img
    max-width 800px
.dui-md-h1
  margin-bottom: 24px;
  margin-top: 24px;
  line-height 40px
.dui-md-h2
  margin-top 24px
  margin-bottom 12px
  padding-left 12px
  border-left 4px solid var(--orange-500)
  line-height 32px
.dui-md-h3
  margin-top 24px
  margin-bottom 12px
  padding-left 12px
  border-left 4px solid var(--orange-500)
  line-height 28px
.dui-md-p
  padding-top 8px
  padding-bottom 8px
  > img
    margin-top 12px
.dui-md-ul
  padding-left 20px
  img
    margin-top 12px
  li
    padding-top 4px
    padding-bottom 4px
    list-style-type disc
    code
      padding-left 4px
      padding-right 4px
      background-color var(--red-100)
      border-radius 2px
      ~ code
        margin-left 4px
.dui-md-ol, [start]
  padding-left 20px
  img
    margin-top 12px
  li
    list-style-type circle
    code
      padding-left 4px
      padding-right 4px
      background-color var(--red-100)
      border-radius 2px
      ~ code
        margin-left 4px

.dui-md-pre
  padding 16px
  background-color var(--code-bg)
  width 100%
  max-width 800px
  overflow auto
  color var(--blue-200)
.dui-md-table
  border 1px solid var(--grey-200)
  width 100%
  thead
    background-color var(--grey-100)
    border-bottom 1px solid var(--grey-300)
    height 40px
    tr
      th
        //padding 0 12px
        + th
          border-left 1px solid var(--grey-300)
  tbody
    tr
      height 56px
      &:hover
        background-color var(--grey-200)
      + tr
        border-top 1px solid var(--grey-300)
      td
        padding 0 12px
        + td
          border-left 1px solid var(--grey-300)
