/* svg fill/stroke的颜色 */
.svg-fill-grey-800
  fill var(--grey-800)
.svg-stroke-grey-800
  stroke var(--grey-800)
.svg-fill-grey-500
  fill var(--grey-500)
.svg-stroke-grey-500
  stroke var(--grey-500)
.svg-fill-grey-400
  fill var(--grey-400)
.svg-stroke-grey-400
  stroke var(--grey-400)
.svg-stroke-grey-50
  stroke var(--grey-50)

.svg-fill-blue-500
  fill var(--blue-500)

.svg-fill-green-500
  fill var(--green-500)
.svg-fill-green-300
  fill var(--green-300)
.svg-fill-green-100
  fill var(--green-100)

.svg-fill-red-500
  fill var(--red-500)
.svg-fill-red-400
  fill var(--red-400)

.svg-fill-white
  fill var(--white)
.svg-stroke-white
  stroke var(--white)
