.d-form
  font-size 0
.d-form-vertical
  .d-form-item
    + .d-form-item
      margin-top 28px
.d-form-horizontal
  display flex
  align-items flex-end
  .d-form-item
    + .d-form-item
      margin-left 28px

.d-form-item
  width 100%
.d-form-item-label
  margin-bottom 8px
  color var(--grey-900)
  font-size 14px
