.d-form
  font-size 0
.d-form-vertical
  .d-form-item
    + .d-form-item
      margin-top 28px
.d-form-horizontal
  display flex
  align-items flex-end
  .d-form-item
    + .d-form-item
      margin-left 28px

.d-form-item
  position relative
  width 100%
.d-form-item-label
  margin-bottom 8px
  color var(--grey-900)
  font-size 14px
.d-form-item-message
  position absolute
  left 0
  bottom -20px
  line-height 18px
  color var(--red-500)
  font-size 12px
