// 向左弹出
.d-slide-left-enter
  opacity 0
  transform translate3d(8px, 0, 0)
.d-slide-left-enter-active
  opacity 1
  transform translate3d(0, 0, 0)
  transition opacity .12s, transform .12s

.d-slide-left-exit
  opacity 1
  transform translate3d(0, 0, 0)
.d-slide-left-exit-active
  opacity 0
  transform translate3d(8px, 0, 0)
  transition opacity .12s, transform .12s
.d-slide-left-exit-done
  display none

// 向右弹出
.d-slide-right-enter
  opacity 0
  transform translate3d(-8px, 0, 0)
.d-slide-right-enter-active
  opacity 1
  transform translate3d(0, 0, 0)
  transition opacity .12s, transform .12s

.d-slide-right-exit
  opacity 1
  transform translate3d(0, 0, 0)
.d-slide-right-exit-active
  opacity 0
  transform translate3d(-8px, 0, 0)
  transition opacity .12s, transform .12s
.d-slide-right-exit-done
  display none
