.d-transition-menu-enter
  opacity 0
  transform translateX(-16px)
.d-transition-menu-enter-active
  opacity 1
  transform translateX(0)

.d-transition-menu-exit
  opacity 1
  transform translateX(0)
.d-transition-menu-exit-active
  opacity 0
  transform translateX(-16px)
.d-transition-menu-exit-done
  display none
