.d-trigger
  position relative
  display inline-flex
  //justify-content space-between
  align-items flex-start
  font-size 0
  cursor pointer
  transition border .12s

.d-trigger-border
  border 1px solid var(--grey-400)
  border-radius 4px
  width 120px
  transition border-color .3s
  .d-trigger-words
    height 30px
    line-height @height
  .d-trigger-icon
    width 30px
    height 30px
.d-trigger-no-border
  .d-trigger-words
    height 20px
    line-height @height
  .d-trigger-icon
    width 20px
    height 20px

.d-trigger-active,
.d-trigger:hover
  border-color var(--blue-500)
  .d-trigger-text
    color var(--blue-500)
  .d-trigger-icon
    .d-trigger-triangle
      path
        fill var(--blue-500)

.d-trigger-pl
  padding-left 8px

.d-trigger-words
  text-align left
  font-size 14px

.d-trigger-title
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  color var(--grey-600)

.d-trigger-text
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  color var(--grey-900)
  transition color .12s
.d-trigger-placeholder
  color var(--grey-400)

.d-trigger-icon
  display flex
  align-items center
  justify-content center
  margin-left auto
  overflow hidden
  i
    width 16px
    height @width
  svg
    width 16px
    height @width
    path
      transition fill .3s
.d-trigger-triangle
  transform rotate(180deg)
  transition transform .3s
  &.d-trigger-triangle-show
    transform rotate(0)
.d-trigger-del
  display none
  &:hover
    path
      fill var(--blue-500 )
// 已选择
.d-trigger-has-selected
  &:hover
    .d-trigger-triangle
      display none
    .d-trigger-del
      display block

.d-trigger-disabled
  background-color var(--grey-200)
  cursor not-allowed
  &.d-trigger-border
    border 1px solid var(--grey-400)
  .d-trigger-words
    color var(--grey-400)
  .d-trigger-icon
    color var(--grey-400)
    svg
      path
        fill var(--grey-400)
