.d-modal
  position fixed
  left 0
  top 0
  z-index 6000
  display flex
  align-items center
  justify-content center
  width 100%
  height 100%
.d-modal-shade
  position fixed
  left 0
  top 0
  z-index 6000
  width 100%
  height 100%
  background-color var(--theme-transparency)
.d-modal-container
  position absolute
  z-index 6001
  background-color var(--theme)
  border-radius 4px
  box-shadow var(--modal-shadow-bottom)

// 盒子类型
.d-modal-container-default
  width 600px
  min-height 288px
.d-modal-container-small
  width 420px
.d-modal-container-middle
  width 840px
.d-modal-container-large
  width 1260px
.d-modal-container-tip
  width 420px

.d-modal-header
  display flex
  justify-content space-between
  align-items center
  padding-left 32px
  padding-right 28px
  border-bottom 1px solid var(--grey-300)
  width 100%
  height 56px
.d-modal-title
  color var(--grey-900)
  font-size 16px
  font-weight 600
.d-modal-icon
  width 16px
  height @width
  cursor pointer
  &:hover
    path
      fill var(--blue-500)
  svg
    width @width
    height @width
    path
      transition fill .12s

.d-modal-main
  width 100%
  overflow-y auto
.d-modal-main-mh
  max-height calc(100vh - 252px)
.d-modal-footer
  padding-left 32px
  padding-right 32px
  display flex
  align-items center
  justify-content flex-end
  width 100%
  height 76px
.d-modal-footer-bs
  box-shadow var(--box-shadow-top)

// Tip
.d-modal-header-tip
  display flex
  align-items center
  padding 20px 32px 12px
  width 100%
  svg
    width 24px
    height @width
  h3
    margin-left 12px
    font-size 16px
.d-modal-header-tip-info
  path
    fill var(--blue-500)
.d-modal-header-tip-error
  path
    fill var(--red-500)
.d-modal-header-tip-warn
  path
    fill var(--orange-500)
.d-modal-container-tip
  .d-modal-main
    padding-left 68px
    padding-right 32px
    font-size 14px
    color var(--grey-600)

.d-modal-transition-enter
  opacity 0
  transform translateZ(0) scale(.7)
.d-modal-transition-enter-active
  opacity 1
  transform translateZ(0) scale(1)
  transition opacity .12s, transform .12s ease-out
.d-modal-transition-exit
  opacity 1
  transform translateZ(0) scale(1)
.d-modal-transition-exit-active
  opacity 0
  transform translateZ(0) scale(.7)
  transition opacity .12s, transform .12s ease-in
.d-modal-transition-exit-done
  display none
