@import "../../assets/animate/selectDownUpExtend.styl"

.d-tree-select-container
  position absolute
  z-index 700
  padding-top 8px
  padding-bottom 8px
  background-color var(--theme)
  border 1px solid var(--grey-200)
  box-shadow var(--box-shadow-bottom)
  width 280px
  max-height 360px
  overflow-x hidden
  overflow-y auto
